[submodule "vim/pack/plugins/start/vimwiki"]
	path = vim/pack/plugins/start/vimwiki
	url = https://github.com/vimwiki/vimwiki.git
[submodule "link/tmux/plugins/tpm"]
	path = link/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "private/work"]
	path = private/work
	url = git@github.com:jacob-tomaw_wwg/dotfiles-grainger.git
